body {
  font-family: Open Sans, sans-serif;
  max-width: 460px;
  margin: 0 auto;
  margin-top: 60px;
}

.TodoPageMain {}

.TodoPage-title {
  font-size: 20px;
  color: #453C52;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 12px;
}

.AddTodo {
  display: flex;
  height: 32px;
  align-items: stretch;
  margin-bottom: 24px;
}

.AddTodo-text {
  padding: 6px 12px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
}

.AddTodo-date {
  padding: 6px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
}

.AddTodo-button {
  font-size: 14px;
  color: white;
  background-color: #48BB78;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
}

.TodoSection {
  margin-bottom: 20px;
}

.TodoSectionTitle {
  display: flex;
  color: #453C52;
  align-items: center;
  margin-bottom: 8px;
}

.TodoSectionTitle-text {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4px;
}

.TodoSectionTitle-remainingCount {
  font-size: 12px;
}

.TodoItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 6px;
  color: #453C52;
}

.TodoItem-container {
  display: flex;
  padding: 2px 8px;
  align-items: center;
}

.TodoItem-checkbox {
  width: 16px;
  height: 16px;
}

.TodoItem-overDueLabel {
  margin-left: 10px;
  color: #C53030;
  font-size: 12px;
}

.TodoItem-delete {
  width: 16px;
  visibility: hidden;
  margin-left: 8px;
}

.TodoItem-container:hover {
  background-color: #F1EDF7;
}

.TodoItem-container:hover .TodoItem-delete {
  visibility: visible;
}

/* .todo-app-wrapper {
    font-family: 'Open Sans', sans-serif;
    width: 500px;
    margin: 50px auto;
  }
  
  .todo-app-main-heading {
    font-size: 20px;
    color: #453C52;
    letter-spacing: 0.14px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  
  .todo-app-add-todo-wrapper {
    display: flex;
    height: 32px;
    align-items: stretch;
    margin-bottom: 24px;
  }
  
  .todo-app-text-input,
  .todo-app-date-input {
    background: #FFFFFF;
    border: 1px solid #BFB8CC;
    border-radius: 4px;
    padding: 6px 12px;
    margin-right: 10px;
  }
  
  .todo-app-date-input {
    width: 125px;
  }
  
  .todo-app-submit-new-todo-button {
    width: 72px;
    background: #48BB78;
    border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  .todo-app-category-section {
    margin: 25px 0;
  }
  
  .todo-app-category-section-title {
    font-size: 14px;
    color: #453C52;
    letter-spacing: 0.1px;
    font-weight: 600;
  }
  
  .todo-app-category-section-summary {
    margin-left: 10px;
    font-size: 12px;
    color: #453C52;
    letter-spacing: 0.09px;
  }
  
  .todo-app-category-section-list {
    margin-left: 15px;
    list-style-type: none;
  }
  
  .todo-app-category-todo {
    font-size: 14px;
    color: #453C52;
    letter-spacing: 0.1px;
    width: fit-content;
    padding: 0 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  
  .todo-app-completed-todo-checkbox {
    margin-right: 6px;
  }
  
  .todo-app-overdue-label {
    font-size: 12px;
    color: #C53030;
    letter-spacing: 0.09px;
    margin-left: 10px;
  }
  
  .todo-app-date-label {
    font-size: 12px;
    color: #726A7E;
    letter-spacing: 0.09px;
    margin-left: 10px;
  }
  
  .todo-app-delete-todo{
    margin-left: 10px;
  }
  
  .todo-app-delete-todo{
    display: none;
  }
  .todo-app-category-todo:hover{
    background: #F1EDF7;
    cursor: pointer;
  }
  .todo-app-category-todo:hover .todo-app-delete-todo{
    display: inline;
  }
  .todo-app-category-todo.todo-app-completed{
    text-decoration: line-through;
  }
   */